<div class='row content'>
  <div class='row-8 columns'>
    <div class='border'>
      <p>Rotating Pics</p>
    </div>
  </div>

  <div class='row-4 columns'>
    <div class='border'>
      <p>Register</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>List of sports</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Map</p>
    </div>
  </div>
</div>
