<div class='row content'>
  <div class='row-6 columns'>
    <div class='border'>
      <ul>
        <li>List of sports</li>
        <% @sports.each do |sport| %>
          <li><%= link_to sport.name, root_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Recent Searches</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Skill Levels</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Court Listings</p>
    </div>
  </div>
</div>
