<div class='row content'>
  <div class='row-6 columns'>
    <div class='border'>
      <p>List of sports</p>
      <% @sports.each do |sport| %>
        <p><%= sport.name %></p>
      <% end %>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Recent Searches</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Skill Levels</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Court Listings</p>
    </div>
  </div>
</div>
