<div class='row content'>
  <div class='row-6 columns'>
    <div class='border'>
      <%= render 'sport_courts', collection: @courts %>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Recent Searches</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>
      <p>Skill Levels</p>
    </div>
  </div>

  <div class='row-6 columns'>
    <div class='border'>

    </div>
  </div>
</div>
