<%= form_for(@user) do |f| %>
  <div class='row'>
    <div class='large-3 columns'>
      <%= f.label :username, class: 'inline' %>
    </div>
    <div class='large-9 columns'>
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update Username", class: 'button success' %>
  </div>
<%- end -%>
