<div class='row'>
  <div class='large-5'>
    <fieldset>
      <legend>Edit Username</legend>
      <%= render 'form' %>

      <%= link_to 'Back to My Profile', @user, class: 'small button secondary' %>
    </fieldset>
  </div>
</div>
