<div id='foot'>
  <div class='top-bar'>
    <div class='top-bar-section'>
      <ul class='right'>
        <li class="divider"></li>
        <li><a href='https://github.com/merhard/breakable_toy' title='Github Repo'>Github</a></li>
      </ul>
    </div>
  </div>
</div>
