<div class='row content'>
  <% if user_signed_in? %>
    <div class='row-12 columns'>
      <div class='border'>
        <p>Rotating Pics</p>
      </div>
    </div>

  <% else %>
    <div class='row-8 columns'>
      <div class='border'>
        <p>Rotating Pics</p>
      </div>
    </div>

    <div class='row-4 columns'>
      <div class='border'>
        <% if user_signed_in? %>
          <%= link_to "View Profile", @user %>
        <% else %>
          <%= render "devise/registrations/new_sign_up_form" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='row-5 columns'>
    <div class='border'>
      <p>List of sports</p>
      <% @sports.each do |sport| %>
        <p><%= sport.name %></p>
      <% end %>
    </div>
  </div>

  <div class='row-7 columns'>
    <div class='border'>
      <%= gmaps4rails(@json) %>
    </div>
  </div>
</div>
