html, body {
  height: 100%;
}

.whole-page {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom: 5em;
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
}

#margin-fix {
  margin-bottom: 0;
}
