<div class='row nav-bar'>
  <div class='row-12 columns'>
    <div class='border-bar'>
      <ul>
        <li><%= link_to "Search", '/search' %></li>
        <li><%= link_to "Add a Court", root_path %></li>
      </ul>
    </div>
  </div>
</div>
