<div class='row'>
  <div class='large-5 columns'>
    <fieldset>
      <legend>Edit Location</legend>
      <%= render 'form' %>

      <%= link_to 'Back', @user, class: 'small button secondary' %>
    </fieldset>
  </div>
  <div class='large-7 columns'>
    <%= gmaps4rails(@json) %>
  </div>
</div>
