<div class='row content'>
  <div class='row-5 columns'>
    <div class='border'>
      EDIT

      <%= render 'form' %>

      <%= link_to 'Show', @user %>
    </div>
  </div>

  <div class='row-7 columns'>
    <div class='border'>
      <%= gmaps4rails(@json) %>
    </div>
  </div>
</div>
